header {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 100%;
    height: max-content;
    width: 75px;
    background-color: #014F86;
}
.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    background-color: #2A6F97;
    border-radius: 10px;
}
.logo__image {
    width: 80%;
}
.header__nav {
    width: 50px;
    height: auto;
    background-color: #2A6F97;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nav__sidebar {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sidebar__item {
    border-radius: 10px;
}
.sidebar__item a {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}
.sidebar__item a svg {
    width: 40px;
    height: 40px;
}
.sidebar__item a svg path {
    transition: fill 0.2s;
}
.sidebar__item a:hover svg path {
    fill: #61A5C2;
}
.active a svg path {
    fill: #61A5C2;
}