@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
}
html, body {
    display: inline-flex;
    width: 100%;
    min-height: 100%;
}
main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    background-color: #61A5C2;
    font-family: 'Josefin Sans', sans-serif;
    color: #014F86;
}
.main__welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin-bottom: 10px;
}
.welcome__title {
    margin-bottom: 10px;
}
.main__tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}
.link__image {
    width: 100px;
    height: 100px;
}